.Header {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #282f94;
  background: linear-gradient(0deg, #93a11d 25%, #4c5191 85%);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.Nav {
  font-size: 25px;
  text-decoration: none;
  color: #282f94;
}

.Nav:not(:last-child) {
  margin-right: 50px;
  &:active {
    color: rgb(238, 238, 32);
  }
}
